@model MySite.MVC.Models.ContactModels



<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<!--
<script>
    $(document).ready(function () {
        $(".btn-primary").click(function () {
            alert($('#Comment').attr("value"));
        });
    });

</script>-->

<script>


    $(document).ready(function () {

        $(".btn-primary").click(function (e) {
            var Fname = $('#FirstName').val();
            var Lname = $('#LastName').val();
            var Email = $('#Email').val();
            var Comment = $('#Comment').val();
            //ADDED JUST TO STOP THE FORM SUBMITTING
            //e.preventDefault();
            if (Fname && Lname && Email && Comment) {
                $("button").html("Success!");
                $("h2").html("THANKS, I'VE GOT YOUR MESSAGE");
            }

        })
    });
</script>
<div class="container" id="contact">
	<div class="row">
	<br>
		<h2 class="centered">
            
            SEND ME AN EMAIL BY FILLING OUT THE FORM
            
		</h2>
		<hr />
		<br>
		<br>
		<div class="col-lg-4">
			<h3>
                Contact Information
			</h3>
			<p>
                <span class="icon icon-home">
			   </span>
                Atlanta, Georgia
                <br/>
				<span class="fa fa-linkedin">
				</span>
                <a href="www.linkedin.com/in/sabirfoux"> Reach Me On LinkedIn</a>
                <br/>
                <!--
				<span class="icon icon-mobile">
				</span>
                (800)-4444-3333
                <br/>
				<span class="icon icon-envelop">
				</span>
                <a href="#">
                    your.email@your.site.com
                </a>
                <br/>
				<span class="icon icon-twitter">
				</span>
                <a href="#">
                    @@your_twitter
                </a>
                <br/>
				<span class="icon icon-facebook">
				</span>
                <a href="#">
                    Your Facebook
                </a>
                <br/> -->
                <h6>This form may be reworked in the future to include more detail but you can also reach me by LinkedIn.</h6>
			</p>
            
		</div>				
		<div class="col-lg-4">
			
            <h3>Contact Form</h3>

			<p>
            </p>  
                
                <form class="form-horizontal" role="form" action="/Home/Contact" method="post">    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    
                    <div class="form-group">
                                               
                        <div class="col-lg-10">
                            
                            <input class="form-control" required data-val="true" data-val-required="Please enter your first name" id="FirstName" type="text"  placeholder="First Name" name="FirstName"/>
                            
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-lg-10">  
                            <input class="form-control" required data-val="true" data-val-required="Please enter your last name" id="LastName"  type="text" placeholder="Last Name" name="LastName"/>
                            <span class="field-validation-valid text-danger" data-valmsg-for="LastName" data-valmsg-replace="true" data-></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input class="form-control" id="Company" type="text" placeholder="Company (Optional)" name="Company" />                            
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            
                            <input class="form-control" required data-val="true" data-val-required="Please enter your email" id="Email" name="Email" type="email" placeholder="Email@Address.com"/>
                            <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-lg-10">
                            
                            <textarea class="form-control" required data-val="true" data-val-required="Please enter a brief detailed message" id="Comment" name="Comment" placeholder="A Short but detailed message"></textarea>
                            <span class="field-validation-valid text-danger" data-valmsg-for="Comment" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <button type="submit" class="btn btn-primary btn-sm active" value="submit">Submit</button>
                            <input type="reset" class="btn btn-default btn-sm active" value="Reset">
                            
                        </div>
                    </div>
                </form> 

                <!--
				<form class="form-horizontal" role="form" action="/Home/Contact" method="post">
					<div class="form-group">
					    <label for="inputEmail1" class="col-lg-4 control-label"></label>
					    <div class="col-lg-10">
						    <input type="email" class="form-control" id="inputEmail1" placeholder="Email" />
					    </div>
					</div>
					<div class="form-group">
					    <label for="text1" class="col-lg-4 control-label"></label>
					    <div class="col-lg-10">
						    <input type="text" class="form-control" id="text1" placeholder="Your Name" />
					    </div>
					</div>
					<div class="form-group">
					    <div class="col-lg-10">
						    <button type="submit" class="btn btn-success">
                                Sign in
						    </button>
					    </div>
					</div>
				</form>-->
			
		</div>				
		<div class="col-lg-4">
			<h3>
                -Note-
			</h3>
			<p>
                This form sends your contact info provided directly to my email. It will not be processed for marketing
                purposes or given to third parties. Its sole purpose is to allow me to follow-up contact you.
			</p>
		</div>
	</div>		
</div>
<div id="footerwrap">
	<div class="container">
		<h4>
            <a href="\">
                PoweredOnDev.Net
            </a> 
            - Copyright @DateTime.Now.Year
		</h4>
	</div>
</div>